<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Panther Delivery", root_path, class: "navbar-brand" %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if current_user %>
        <li class="nav-item active">
          <%= link_to "Index", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Finances", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Factories", "#", class: "dropdown-item" %>
            <%= link_to "Products", "#", class: "dropdown-item" %>
            <%= link_to "Clients", "#", class: "dropdown-item" %>
          </div>
        </li>
        <% end %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item user-name">
          <%= fa_icon "user" %>
          <%= current_user.email %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-xs btn-danger mr-2" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn btn-xs btn-primary mr-2" %>
        </li>
      <% end %>
    </ul>

  
  </div>
</nav>